<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="container" >
		<fieldset>
			<form action="/claimObjects" method="post">
				<!-- <p>Erstes Objekt</p> -->
				<input name="object1" type="text" class="ghost-input" placeholder="Objekt 1 eintragen" required>
				<input name="price1" type="number" class="ghost-input" placeholder="Preis 1 eintragen" required>
				<!-- <p>Zweites Objekt</p>
				<input name="Object2" type="text" class="ghost-input" placeholder="Objekt 2 eintragen" required>
				<input name="Price2" type="number" class="ghost-input" placeholder="Preis 2 eintragen" required>
				<input type="submit" class="ghost-button" value="Login"> -->
			</form>
		</fieldset>
	</div>
</body>

</html>